/*Components in order, everything thats in everypage*/
/* Reset some default margins and paddings */
body {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000000;
} 

body, html, .App {
  width: 100%;
  height: 100%; /* 100% of the viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* Typography */
h1 {
  color: #333;
}

p, li {
  color: #666;
  font-size: 16px;
}

strong {
  color: #444;
} 


.Menu{
  font-size: 18px;
  padding: 5px 5px;
  background-color: #f9f9fb;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  color: #575757;
  cursor: pointer;
  transition: 0.85s; /* Transition for hover effect */
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .layout-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .layout-content {
    flex: 1;
  }
  
  .layout-footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

.layout-header, .layout-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 1s;
    z-index: 2; /* Ensure it's on top of other content */
}

.overlay.open {
    height: 100%;
}

.overlay-content {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.overlay-content a {
    padding: 10px;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.overlay-content a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

/*First page 

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #C0C0C0;
    margin: 5px;
    padding: 20px;
} */

.photo img {
  display: inline-block;
  align-self: center;
  width: 100%;
  height: 800px;
}

.photo{
  position: relative;
  margin-bottom: 0px;
}

.textContent {
    line-height: 1.5; /* Spacing between lines for readability */
    max-width: 70%; /* Optional: Restrict text width for better readability */
    margin: 0 auto; /* Centers the content if max-width is set */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  * {
    box-sizing: border-box;
}

.textContent, .numbertext, .text {
  font-family:'Courier New', Courier, monospace;
  color: rgb(0, 255, 55);  /* This will make the text white. */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    background-color: #000000;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
}

.slideshow-container {
    position: absolute;
    top: -800px;   
    left: 0;  
    background-color: rgb(0, 0, 0);
    position: relative;
    max-width: 90%;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.mySlides {
    display: none;
}

.mySlides .textContent {
    font-size: 1rem;
    padding: 2rem;
    text-align: justify;
}

.mySlides .text, .mySlides .numbertext {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    color: #ffffff;
}

.prev, .next {
  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.next {
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}



/*----------------------------------------Second page----------------------------*/


.loan-calculator-container {
  color: #e0e0e0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; /* This will make sure padding and borders are included in the width calculation */
  border-radius: 5px;
}

/* Loan calculator title style */
.loan-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #FFFFFF;
}

/* Styles for each loan entry */
.single-loan {
  background-color: #707070;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* This will allow the contents to wrap if the width becomes too narrow */
}

/* Common styles for all input fields */
.owner-input,
.amount-input,
.interest-input,
.min-payment-input,
.fine-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 100px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

.monthly-payment-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  height: 30px;
  width: 150px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

/* Target the input field by its class to center-align the text */
.budget-input {
  text-align: center;
}

/* Revised code to remove spinners */
/* For Chrome, Safari, and Edge */
.budget-input::-webkit-inner-spin-button,
.budget-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.budget-input[type='number'] {
  -moz-appearance: textfield;
}

/* For IE */
.budget-input::-ms-clear {
  display: none;
}

/* Placeholder styles for all input fields */
.owner-input::placeholder,
.amount-input::placeholder,
.interest-input::placeholder,
.min-payment-input::placeholder,
.fine-input::placeholder,
.monthly-payment-input::placeholder {
  color: #000000;
  padding: 10px 10px;
}

/* Styles for buttons */
.remove-btn,
.add-loan-btn,
.submit-btn {
  color: #000000;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.remove-btn {
  background-color: #a83029; /* Adjusted to a slightly muted red */
  align-self: center;
}

.add-loan-btn,
.submit-btn {
  background-color: #4A4A4A; /* Dark gray button with hover lightening it slightly */
}

.remove-btn:hover,
.add-loan-btn:hover,
.submit-btn:hover {
  opacity: 0.9;
  background-color: #6A6A6A; /* Slight light gray for hover effect */
}

/* Styles for payment container */
.payment-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.Payment-Text{
  color: #4A4A4A;
  font-style: italic;
  font-size: medium;
  margin-right: 10px;
}

/* Styles for image frame */
.image-frame {
  margin-top: 20px;
  text-align: center;
}

/* Styles for the graph image */
.calculated-graph {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/*-----------------------------------------Third page-------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  color: rgb(0, 255, 55);  /* This will make the text white. */
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100vw;
  height: 100vh;
  background-color: #000000; 
}

.canvas-container {
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background: url('./photos/background.jpg') no-repeat center center;
}

.restart {
  position: absolute;
  top: 150px; /* Adjust based on your desired position */
  background-color: #f44336; /* Red color for restart, change if needed */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  /* Optional: Adds a little hover effect */
  &:hover {
      background-color: #d32f2f;
  }
}

.game-info {
  margin-top: 10px;
  text-align: center;
  color: #fff; 
}

.score {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d32f2f;
}

.pong-instructions h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.pong-instructions p {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(0, 255, 55);  /* This will make the text white. */
}

.rotate-message {
  display: none; /* Hides the rotate message */
}

/*-----------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 920px) {
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.photo img {
  height: auto;
}

.photo {
position: relative;
margin-bottom: 0px;
}

.textContent {
line-height: 1.5;
max-width: 80%;
margin: 0 auto;
box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}

.textContent, .numbertext, .text {
font-family: 'Courier New', Courier, monospace;
color: rgb(0, 255, 55);
}

.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 0vh;
background-color: #000000;
color: #e0e0e0;
padding: 1px;
border-radius: 1px;
}

.slideshow-container {
top: -80px;
position: absolute;
left: 0;
background-color: rgb(0, 0, 0);
position: relative;
max-width: 99%;
overflow: hidden;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.mySlides {
display: none;
}

.mySlides .textContent {
font-size: 1rem;
padding: 2rem;
text-align: justify;
}

.mySlides .text, .mySlides .numbertext {
position: absolute;
bottom: 8px;
left: 8px;
background-color: rgba(0, 0, 0, 0.5);
padding: 8px 12px;
color: #ffffff;
}

.prev, .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
padding: 16px;
font-size: 24px;
background-color: rgba(0, 0, 0, 0.5);
color: #ffffff;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
background-color: rgba(0, 0, 0, 0.7);
}

.prev {
left: 0;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Typography */
h1 {
    color: #333;
}

p, li {
    color: #666;
    font-size: 12px;
}

strong {
    color: #444;
}


/* Main container for the calculator */
.loan-calculator-container {
  background-color: #0a0a0a;
  color: #e0e0e0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; /* This will make sure padding and borders are included in the width calculation */
}

/* Loan calculator title style */
.loan-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

/* Styles for each loan entry */
.single-loan {
  background-color: #707070;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* This will allow the contents to wrap if the width becomes too narrow */
}

/* Common styles for all input fields */
.owner-input,
.amount-input,
.interest-input,
.min-payment-input,
.fine-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

.monthly-payment-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  height: 30px;
  width: 150px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

/* Target the input field by its class to center-align the text */
.budget-input {
  text-align: center;
}

/* Revised code to remove spinners */
/* For Chrome, Safari, and Edge */
.budget-input::-webkit-inner-spin-button,
.budget-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.budget-input[type='number'] {
  -moz-appearance: textfield;
}

/* For IE */
.budget-input::-ms-clear {
  display: none;
}

/* Placeholder styles for all input fields */
.owner-input::placeholder,
.amount-input::placeholder,
.interest-input::placeholder,
.min-payment-input::placeholder,
.fine-input::placeholder,
.monthly-payment-input::placeholder {
  color: #000000;
  padding: 10px 10px;
}

/* Styles for buttons */
.remove-btn,
.add-loan-btn,
.submit-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.remove-btn {
  background-color: #a83029; /* Adjusted to a slightly muted red */
  align-self: center;
}

.add-loan-btn,
.submit-btn {
  background-color: #4A4A4A; /* Dark gray button with hover lightening it slightly */
}

.remove-btn:hover,
.add-loan-btn:hover,
.submit-btn:hover {
  opacity: 0.9;
  background-color: #6A6A6A; /* Slight light gray for hover effect */
}

/* Styles for payment container */
.payment-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.Payment-Text{
  font-style: italic;
  font-size: medium;
  margin-right: 10px;

}

/* Styles for image frame */
.image-frame {
  margin-top: 20px;
  text-align: center;
}

/* Styles for the graph image */
.calculated-graph {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Reset some default margins and paddings */
body, html, .App {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 70px;
  width: 100vw;
  height: 110vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  position: relative;
  width: 600px; /* You can adjust this */
  height: 300px; /* You can adjust this too */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

canvas {
  background-color: #212121;
  border-radius: 6px;
}

.restart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 15px;
  background-color: #ff3d00;
  color: #F8F8F8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart:hover {
  background-color: #e53935;
}

.score {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}

.pong-instructions {
  background-color: #000000;
  padding: 5px;
  border: 1px solid rgb(0, 255, 55);
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.pong-instructions h2 {
  color: rgb(0, 255, 55);
  font-size: 14px;
  margin-bottom: 10px;
}

.pong-instructions p {
  margin-bottom: 5px;
  color: rgb(0, 255, 55);
}

/* This hides the game and shows the rotate message for smaller screens */
@media screen and (max-width: 600px) {

  .canvas-container {
      display: none;
  }

  .rotate-message {
      height: 70vh;
      display: block;
      text-align: center;
      font-size: 1.5em;
      color: rgb(0, 255, 55);
      font-family:'Courier New', Courier, monospace;
  }
}

/* This displays the game for larger screens */
@media screen and (min-width: 601px) {
  .canvas-container {
      display: flex;
  }

  .rotate-message {
      display: none;
  }
}

}