
.Menu{
  font-size: 18px;
  padding: 5px 5px;
  background-color: #f9f9fb;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  color: #575757;
  cursor: pointer;
  transition: 0.85s; /* Transition for hover effect */
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .layout-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .layout-content {
    flex: 1;
    padding: 20px;
  }
  
  .layout-footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

/* The basic layout styles */
.layout {
    font-family: Arial, sans-serif;
}

.layout-header, .layout-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* The overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 1s;
    z-index: 2; /* Ensure it's on top of other content */
}

.overlay.open {
    height: 100%;
}

.overlay-content {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.overlay-content a {
    padding: 10px;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.overlay-content a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.textContent {
    line-height: 1.5; /* Spacing between lines for readability */
    max-width: 70%; /* Optional: Restrict text width for better readability */
    margin: 0 auto; /* Centers the content if max-width is set */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  * {
    box-sizing: border-box;
}

.textContent, .numbertext, .text {
  font-family:'Courier New', Courier, monospace;
  color: rgb(0, 255, 55);  /* This will make the text white. */
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    background-color: #000000;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
}

.slideshow-container {
    position: absolute;
    top: -880px;   
    left: 0;  
    background-color: rgb(0, 0, 0);
    position: relative;
    max-width: 90%;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.mySlides {
    display: none;
}

.mySlides .textContent {
    font-size: 1rem;
    padding: 2rem;
    text-align: justify;
}

.mySlides .text, .mySlides .numbertext {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    color: #ffffff;
}

.prev, .next {
  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.next {
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #C0C0C0;
    margin: 5px;
    padding: 20px;
}

/* Typography */
h1 {
    color: #333;
}

p, li {
    color: #666;
    font-size: 16px;
}

strong {
    color: #444;
}


/* Main container for the calculator */
.loan-calculator-container {
  background-color: #0a0a0a;
  color: #e0e0e0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; /* This will make sure padding and borders are included in the width calculation */
}

/* Loan calculator title style */
.loan-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #FFFFFF;
}

/* Styles for each loan entry */
.single-loan {
  background-color: #707070;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* This will allow the contents to wrap if the width becomes too narrow */
}

/* Common styles for all input fields */
.owner-input,
.amount-input,
.interest-input,
.min-payment-input,
.fine-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 100px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

.monthly-payment-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  height: 30px;
  width: 150px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

/* Target the input field by its class to center-align the text */
.budget-input {
  text-align: center;
}

/* Revised code to remove spinners */
/* For Chrome, Safari, and Edge */
.budget-input::-webkit-inner-spin-button,
.budget-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.budget-input[type='number'] {
  -moz-appearance: textfield;
}

/* For IE */
.budget-input::-ms-clear {
  display: none;
}

/* Placeholder styles for all input fields */
.owner-input::placeholder,
.amount-input::placeholder,
.interest-input::placeholder,
.min-payment-input::placeholder,
.fine-input::placeholder,
.monthly-payment-input::placeholder {
  color: #000000;
  padding: 10px 10px;
}

/* Styles for buttons */
.remove-btn,
.add-loan-btn,
.submit-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.remove-btn {
  background-color: #a83029; /* Adjusted to a slightly muted red */
  align-self: center;
}

.add-loan-btn,
.submit-btn {
  background-color: #4A4A4A; /* Dark gray button with hover lightening it slightly */
}

.remove-btn:hover,
.add-loan-btn:hover,
.submit-btn:hover {
  opacity: 0.9;
  background-color: #6A6A6A; /* Slight light gray for hover effect */
}

/* Styles for payment container */
.payment-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.Payment-Text{
  font-style: italic;
  font-size: medium;
  margin-right: 10px;

}

/* Styles for image frame */
.image-frame {
  margin-top: 20px;
  text-align: center;
}

/* Styles for the graph image */
.calculated-graph {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Reset some default margins and paddings */
body, html, .App {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
}

.App {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* ... (rest of your styles) ... */
}

.App-header {
  position: relative;
  background-color: #333333; /* Slightly lighter shade than App background for contrast */
  border-radius: 10px; /* Soft rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Soft shadow for depth */
}

.score {
  color: #F8F8F8; /* Off-white for better visibility against dark background */
  font-size: 20px; /* Slightly larger font size */
  margin-top: 10px;
  position: center;
}

canvas {
  display: block; /* To remove any margins */
  background-color: #212121; /* Same as App background for a seamless look */
  border: 1px solid #444; /* Border to distinguish canvas area */
  border-radius: 6px; /* Consistency in design */
}

.canvas-container {
  position: relative;
  width: 600px;
  height: 300px;
}

.restart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px 20px;
  background-color: #ff3d00; /* A reddish color for attention */
  color: #F8F8F8; /* Off-white color */
  border: none;
  border-radius: 6px; /* Consistency in design */
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #e53935;
  }
}
.photo img {
  display: inline-block;
  align-self: center;
  width: 100%;
  height: 900px;
}
.photo{
  position: relative;
  margin-bottom: 0px;
}

.pong-instructions {
  background-color: #000000;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 20px;
  align-content: center;
}
.pong-instructions h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.pong-instructions ul {
  list-style-type: none;
}

.pong-instructions li {
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 844px) {
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.textContent {
    line-height: 1.5; /* Spacing between lines for readability */
    max-width: 95%; /* Optional: Restrict text width for better readability */
    margin: 0 auto; /* Centers the content if max-width is set */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  * {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    background-color: #000000;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
}

.slideshow-container {
    position: absolute;
    top: -10px;   
    left: 0;  
    background-color: rgb(0, 0, 0);
    position: relative;
    max-width: 95%;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.prev, .next {
  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #C0C0C0;
    margin: 5px;
    padding: 20px;
}

/* Typography */
h1 {
    color: #333;
}

p, li {
    color: #666;
    font-size: 12px;
}

strong {
    color: #444;
}


/* Main container for the calculator */
.loan-calculator-container {
  background-color: #0a0a0a;
  color: #e0e0e0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; /* This will make sure padding and borders are included in the width calculation */
}

/* Loan calculator title style */
.loan-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

/* Styles for each loan entry */
.single-loan {
  background-color: #707070;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* This will allow the contents to wrap if the width becomes too narrow */
}

/* Common styles for all input fields */
.owner-input,
.amount-input,
.interest-input,
.min-payment-input,
.fine-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

.monthly-payment-input{
  background-color: #b2b2b2;
  font-weight: bold;
  font-size: small;
  color: #000000;
  border: none;
  height: 30px;
  width: 150px;
  margin-right: 10px;
  align-self: center;
  flex: 1; /* Allows the input fields to grow and take up space, making better use of container width */
  outline: none;
  max-width: calc(100% - 20px); /* This ensures that with margin and padding, the input doesn't exceed the container width */
}

/* Target the input field by its class to center-align the text */
.budget-input {
  text-align: center;
}

/* Revised code to remove spinners */
/* For Chrome, Safari, and Edge */
.budget-input::-webkit-inner-spin-button,
.budget-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.budget-input[type='number'] {
  -moz-appearance: textfield;
}

/* For IE */
.budget-input::-ms-clear {
  display: none;
}

/* Placeholder styles for all input fields */
.owner-input::placeholder,
.amount-input::placeholder,
.interest-input::placeholder,
.min-payment-input::placeholder,
.fine-input::placeholder,
.monthly-payment-input::placeholder {
  color: #000000;
  padding: 10px 10px;
}

/* Styles for buttons */
.remove-btn,
.add-loan-btn,
.submit-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.remove-btn {
  background-color: #a83029; /* Adjusted to a slightly muted red */
  align-self: center;
}

.add-loan-btn,
.submit-btn {
  background-color: #4A4A4A; /* Dark gray button with hover lightening it slightly */
}

.remove-btn:hover,
.add-loan-btn:hover,
.submit-btn:hover {
  opacity: 0.9;
  background-color: #6A6A6A; /* Slight light gray for hover effect */
}

/* Styles for payment container */
.payment-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.Payment-Text{
  font-style: italic;
  font-size: medium;
  margin-right: 10px;

}

/* Styles for image frame */
.image-frame {
  margin-top: 20px;
  text-align: center;
}

/* Styles for the graph image */
.calculated-graph {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Reset some default margins and paddings */
body, html, .App {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: relative;
  background-color: #333333; /* Slightly lighter shade than App background for contrast */
  border-radius: 10px; /* Soft rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Soft shadow for depth */
}

.score {
  color: #F8F8F8; /* Off-white for better visibility against dark background */
  font-size: 15px; /* Slightly larger font size */
  margin-top: 10px;
  position: center;
}

canvas {
  align-self: center;
  background-color: #212121; /* Same as App background for a seamless look */
  border: 1px solid #ff0000; /* Border to distinguish canvas area */
  border-radius: 6px; /* Consistency in design */
}

.canvas-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100vh; /* Fill the viewport height */
}

.restart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 10px;
  background-color: #ff3d00; /* A reddish color for attention */
  color: #F8F8F8; /* Off-white color */
  border: none;
  border-radius: 6px; /* Consistency in design */
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #e53935;
  }
}

/* Hide the game and show the rotate message in portrait mode */
.canvas-container {
  display: none;
}

.rotate-message {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
  color: rgb(0, 255, 55);
  font-family:'Courier New', Courier, monospace;
}

/* Show the game and hide the rotate message in landscape mode */
@media screen and (orientation:landscape) {
  .canvas-container {
      display: block;
  }

  .rotate-message {
      display: none;
  }
}

.photo img {
  display: inline-block;
  align-self: center;
  width: 100%;
  height: 150px;
}
.photo{
  position: relative;
  margin-bottom: 0px;
}

.pong-instructions {
  background-color: #000000;
  padding: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-top: 10px;
  align-content: center;
}
.pong-instructions h2 {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.pong-instructions ul {
  list-style-type: none;
}

.pong-instructions li {
  margin-bottom: 5px;
}

}